# This file includes global variables that will be available inside your project
# 1. In the front end code you can access this variables like this: console.log(process.env.VARIABLE_NAME)
# 1. In the back end code you access the variable by importing os and then typing print(os.getenv('VARIABLE_NAME'))

# Back-End Variables
DATABASE_URL=postgresql://postgresql_trapezoidal_42170_suot_user:KDuGKwezrcny77NCX0MPfX1Jz6yg3CL2@dpg-cuin84ggph6c73ad2rdg-a.ohio-postgres.render.com:5432/postgresql_trapezoidal_42170_suot?sslmode=require
FLASK_APP_KEY="KDuGKwezrcny77NCX0MPfX1Jz6yg3CL2"
FLASK_APP=src/app.py
FLASK_ENV=development
FLASK_DEBUG=1
DEBUG=TRUE
JWT_SECRET_KEY="UnaClaveSuperSegura2025!!"


# Front-End Variables
MY_BASENAME=/
REACT_APP_BACKEND_URL=https://rutatrack-backend.onrender.com
REACT_APP_GOOGLE_MAPS_API_KEY="AIzaSyDSu3vbMZF2UjI_7AH88bWmzYmBcPypaEw"
ENV=development

